#chat {
  position: relative;
}

.chat {
  height: 94%;
}

#chat-content {
  width: 100%;
  height: 94%;
  overflow-y: scroll;
  word-wrap: break-word;

  p {
    margin: 4px;
  }
}

.chat-msg-input-container {
  position: absolute;
  bottom: 0;
}
