@import 'chat';
@import 'configuration';

$canvas-width: 640px;
$canvas-height: 480px;
$chat-width: 300px;
$menu-width: $canvas-width + $chat-width;

#canvas-container {
  border: 1px solid red;
  width: $canvas-width;
  height: $canvas-height;
  float: left;
  cursor: crosshair;
}
#chat {
  float: left;
  width: $chat-width;
  height: $canvas-height;
  border: 1px solid lime;
}
#menu-container {
  width: $menu-width;
  height: 50px;
  border: 1px solid black;
  clear: both;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.shadow {
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}

