<div id='configuration-popup' class='popup'>
  <a href='#close' title='close' class='close'>Close</a>
  <h1>Configure MOD</h1>
  <h2>Key Mapping</h2>
  <p>movement: click to assign keys</p>
  <div id='key-settings-container'>
    <input id='up' class='key' value='W'>
    <input id='left' class='key' value='A'>
    <input id='down' class='key' value='S'>
    <input id='right' class='key clearfix' value='D'>
  </div>
</div>
