<a id="join-game" href="#join" title="join">Join</a>
<a id="leave-game" href="#leave" title="leave" style="display:none;">Leave</a>
<a id="configure" href="configure" title="configure">Configure</a>
<div id="config-container"></div>