<h1>{{title}}</h1>
<div id="canvas-container" tabindex="0"></div>
<section id="chat">
</section>
<div id="menu">
  <div id="menu-controls"></div>
  <div id="config"></div>
  <a id="start-game" href="#start" title="start">Start</a><br/>
  Username:
  <input id="username" type="text">
  Avatar:
  <input id="icon" type="text">
</div>
