<h1>{{title}}</h1>
<section id="menu">
  <div id="menu-controls"></div>
  <div id="config"></div>
  <a id="start-game" href="#start" title="start">Start</a><br/>
  Username:
  <input id="username" type="text" value="{{username}}">
  Avatar:
  <input id="icon" type="text" value="{{icon}}">
  Game server URL:
  <input id="host" type="text" value="{{host}}">
</section>
<div id="canvas-container"></div>
<section id="chat">
</section>
