<a id="start-game" href="#start" title="start">Start</a><br/>
Username:
<input id="username" type="text" value="{{username}}">
Avatar:
<input id="icon" type="text" value="{{icon}}">
Game server URL:
<input id="host" type="text" value="{{host}}">
